.new-student__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 5rem;
  text-align: left;
}

.new-student__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  padding: 1rem;
}

.new-student__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-student__actions {
  text-align: right;
}
.newstudentgender {
  width: 25rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
  padding: 1rem;
}
