.tablehead {
  font-style: italic;
  border: 2px solid rgb(47, 13, 236);
  border-collapse: collapse;
  background-color: rgb(10, 243, 107);
}
.tablebody {
  border: 2px solid rgb(47, 13, 236);
  border-collapse: collapse;
  background-color: darkgray;
}
.tables {
  border: 2px solid rgb(47, 13, 236);
  border-collapse: collapse;
  text-align: left;
  font-weight: bold;
  font-size: large;
  border-radius: 12px;
}
