.App {
  text-align: center;
}

.App-header {
  background-color: #1d60e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(34, 9, 9);
}

.float-left {
  width: 50%;
  float: left;
}

.float-right {
  width: 50%;
  float: right;
}
